<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./compiled_scss/style.css">
  </head>
  <body>

    <!-- HEADER -->
    <div class="flex-grid">
      <div class="col">
        <div class="content">
          <div class="content__header__container">
            <p class="content__header__container__text">
              Hello
            </p>

            <ul class="content__header__container__list">
              <li class="content__header__container__list__item">world !</li>
              <li class="content__header__container__list__item">mom ?</li>
              <li class="content__header__container__list__item">users !</li>
              <li class="content__header__container__list__item">everybody !</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- INTRO TEXT -->
    <div class="flex-grid">
      <div class="col">
        <div class="content">
          <div class="content__body__container">
            <p class="content__body__container__text"></p>
          </div>
        </div>
      </div>
    </div>



    <!-- SCRIPTS -->
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="./js/script.js" charset="utf-8"></script>
  </body>
</html>
